
      <body class="pt-5 pb-5">

        <!-- MAIN (Center website) -->
        <div class="main">
        
        <h1>PORTFOLIO</h1>
        <hr>
        
        
        
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('nature')"><b>Gallery</b> </button>
          <button class="btn" onclick="filterSelection('cars')"><b> Furniture</b></button>
          <button class="btn" onclick="filterSelection('people')"><b>Interior Designing</b> </button>
          
        </div>
        
        <!-- Portfolio Gallery Grid -->
        <div class="row ">
         
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/3.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/9.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/12.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/33.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/fF.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/kitch.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/SFBT.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/Untitled-g.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/weATVY.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/XH B.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/_9op[.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/7ygyjb35.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/7ymkuhh.jpg" style="width:100%">
              
            </div>
          </div>
         
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/r dvh.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/wtvebr.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column nature rn">
            <div class="content">
              <img src="../../assets/portfolio/yugdfh.jpg" style="width:100%">
              
            </div>
          </div>

        
          
          
         
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/1.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/2.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/10.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/15.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/17.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/34.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/DFBUN.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/FV.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/JHFVCHLJ.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/sfg.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/[,pm4on6i3b5u.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/7 rynhj.jpg" style="width:100%">
              
            </div>
          </div>
          <div class="column cars rn">
            <div class="content">
              <img src="../../assets/portfolio/uhjvbr.jpg" style="width:100%">
              
            </div>
          </div>
         
          
          <div class="column cars rn">
              <div class="content">
              <img src="../../assets/img/Portfolio1.jpg"  style="width:100% " >
              </div>
            </div>
            <div class="column cars rn">
                <div class="content">
                <img src="../../assets/img/Portfolio2.jpg"  style="width:100% " >
                </div>
              </div>
              <div class="column cars rn">
                  <div class="content">
                  <img src="../../assets/img/Portfolio3.jpg"  style="width:100% " >
                  </div>
                </div>
        
         
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/4.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/5.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/7.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/8.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/6.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/acv.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/JHCXC.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/rhiwcstv.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/5l rkydgv.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/5wbryg.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/hfbfei.jpg"  style="width:100%">
             
            </div>
          </div>
          <div class="column people rn">
            <div class="content">
              <img src="../../assets/portfolio/u ihj r.jpg"  style="width:100%">
             
            </div>
          </div>
      
          
          
         
        
        
        <!-- END GRID -->
        </div>
        
        <!-- END MAIN -->
        </div>
</body>  
<footer style="background-color: black ;color: white;" class="pt-2 pb-2">
  <p class="text-center" style="font-size: 18  px"> &copy;copyright Edunomics.in</p>
 </footer>